.App {
  text-align: center;
  padding-bottom: 20px;
  background-color: #3f48cc;
  border-top: solid 2px black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 18vmin;
  pointer-events: none;
  border-radius: 10px;
}

.App-header {
  background-image: url("./img/earth-globe.jpg");
  /* background-repeat: */
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards {
  height: 100vmin;
}

.footer {
  background-color: #3f48cc;
  height: 10vmin;
}
