.app {
  text-align: center;
  padding-bottom: 20px;
  background-color: #3f48cc;
  border-top: solid 2px black;
}

.logo {
  height: 30vmin;
  pointer-events: none;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px 0 30px;
}

.cards {
  height: 100vmin;
}

.footer {
  background-color: #3f48cc;
  height: 10vmin;
}
